#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh
}
.footer {
  background-color: red;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
